body {
    background-color:rgb(248, 234, 216);
}

#header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    font-weight:80px;
    text-align:center;
    color:chocolate;
}