body {
    background-color:rgb(61, 61, 61);
}

#header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    font-weight:80px;
    text-align:center;
    color:whitesmoke;
    border:3px;
    padding: 8px;
    margin:10px;
}

.topheader {
    display:block;
    background-color:darkblue;
    width:500px;
    margin:auto;
    outline-style:solid;
    outline-color:gold;
}
.recipes {
    margin:auto;
    display:block;
    padding:20px;
    text-align:center;
}

.pho{
    display:inline-block;
    margin:10px;
    padding:5px;
    background-color:navajowhite;

}

.alfredo{
    display:inline-block;
    margin:10px;
    padding:5px;
    background-color:navajowhite;
}

a {
    font-size:18px;
    font-family:'Courier New', Courier, monospace;
    color:chocolate;
}

button {
    font-size:24px;
    color:navajowhite;
}